canvas {
	position: fixed;
	top: 0;
	left: 0;
}

#info_panel {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 100px;
	height: 100px;
	background-color: 0;
	z-index: 1000;
}

button {
	width: 6em;
	height: 3em;
}
